<table border='1'>
<tr>
<th>Class name</th>
<th>Method name</th>
<th>Groups</th>
</tr><tr>
<td>com.testScripts.BookARoomTestScript</td>
<td>&nbsp;</td><td>&nbsp;</td></tr>
<tr>
<td align='center' colspan='3'>@Test</td>
</tr>
<tr>
<td>&nbsp;</td>
<td>createandVerifyBookRoom</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>add_and_Edit_Booking_From_BookingList</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>charge_now_without3D</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>add_AdditionalCharge_From_Card</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>changeAmount_And_MarkAsPaid_Authorize_Capture_From_Card</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>chargeNow_From_Card</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>view_Details</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>guest_Portal</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>send_Pre_Check_inEmail</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>paused_confirmed_Booking_From_BookingList</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>changeAmount_And_MarkAsPaid_Authorize_Without3D_From_Card</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>cancel_Booking_From_BookingList</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>changeAmount_And_MarkAsPaid_Authorize_Release_From_Card</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>re_Sync</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>Void_From_Card</td>
<td>&nbsp;</td></tr>
<tr>
<td align='center' colspan='3'>@BeforeClass</td>
</tr>
<tr>
<td align='center' colspan='3'>@BeforeMethod</td>
</tr>
<tr>
<td>&nbsp;</td>
<td>getdataFromFaker</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>setConfig</td>
<td>&nbsp;</td></tr>
<tr>
<td align='center' colspan='3'>@AfterMethod</td>
</tr>
<tr>
<td>&nbsp;</td>
<td>quitBrowser</td>
<td>&nbsp;</td></tr>
<tr>
<td align='center' colspan='3'>@AfterClass</td>
</tr>
</table>
