<h2>Methods run, sorted chronologically</h2><h3>&gt;&gt; means before, &lt;&lt; means after</h3><p/><br/><em>Default suite</em><p/><small><i>(Hover the method name to see the test class name)</i></small><p/>
<table border="1">
<tr><th>Time</th><th>Delta (ms)</th><th>Suite<br>configuration</th><th>Test<br>configuration</th><th>Class<br>configuration</th><th>Groups<br>configuration</th><th>Method<br>configuration</th><th>Test<br>method</th><th>Thread</th><th>Instances</th></tr>
<tr bgcolor="7b6d8a">  <td>22/01/29 20:46:10</td>   <td>0</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;BaseTest.quitBrowser()[pri:0, instance:com.testScripts.BookARoomTestScript@71248c21]">&lt;&lt;quitBrowser</td> 
<td>&nbsp;</td>  <td>main@1524126153</td>   <td></td> </tr>
<tr bgcolor="dba097">  <td>22/01/29 20:38:21</td>   <td>-468841</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="BookARoomTestScript.add_and_Edit_Booking_From_BookingList(java.lang.String,java.lang.String,java.lang.String,java.lang.String,java.lang.String,java.lang.String,java.lang.String,java.lang.String,java.lang.String,java.lang.String,java.lang.String,java.lang.String,java.lang.String,java.lang.String,java.lang.String,java.lang.String,java.lang.String,java.lang.String,java.lang.String,java.lang.String,java.lang.String,java.lang.String)[pri:12, instance:com.testScripts.BookARoomTestScript@71248c21]">add_and_Edit_Booking_From_BookingList</td> 
  <td>main@1524126153</td>   <td></td> </tr>
<tr bgcolor="7b6d8a">  <td>22/01/29 20:44:09</td>   <td>-121080</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;BaseTest.getdataFromFaker()[pri:0, instance:com.testScripts.BookARoomTestScript@71248c21]">&gt;&gt;getdataFromFaker</td> 
<td>&nbsp;</td>  <td>main@1524126153</td>   <td></td> </tr>
<tr bgcolor="7b6d8a">  <td>22/01/29 20:44:09</td>   <td>-121080</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;BaseTest.getdataFromFaker()[pri:0, instance:com.testScripts.BookARoomTestScript@71248c21]">&gt;&gt;getdataFromFaker</td> 
<td>&nbsp;</td>  <td>main@1524126153</td>   <td></td> </tr>
<tr bgcolor="7b6d8a">  <td>22/01/29 20:46:10</td>   <td>0</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;BaseTest.quitBrowser()[pri:0, instance:com.testScripts.BookARoomTestScript@71248c21]">&lt;&lt;quitBrowser</td> 
<td>&nbsp;</td>  <td>main@1524126153</td>   <td></td> </tr>
<tr bgcolor="7b6d8a">  <td>22/01/29 20:44:09</td>   <td>-121079</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;BaseTest.setConfig()[pri:0, instance:com.testScripts.BookARoomTestScript@71248c21]">&gt;&gt;setConfig</td> 
<td>&nbsp;</td>  <td>main@1524126153</td>   <td></td> </tr>
<tr bgcolor="7b6d8a">  <td>22/01/29 20:44:09</td>   <td>-121080</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;BaseTest.getdataFromFaker()[pri:0, instance:com.testScripts.BookARoomTestScript@71248c21]">&gt;&gt;getdataFromFaker</td> 
<td>&nbsp;</td>  <td>main@1524126153</td>   <td></td> </tr>
<tr bgcolor="7b6d8a">  <td>22/01/29 20:46:10</td>   <td>0</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;BaseTest.quitBrowser()[pri:0, instance:com.testScripts.BookARoomTestScript@71248c21]">&lt;&lt;quitBrowser</td> 
<td>&nbsp;</td>  <td>main@1524126153</td>   <td></td> </tr>
<tr bgcolor="7b6d8a">  <td>22/01/29 20:44:09</td>   <td>-121079</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;BaseTest.setConfig()[pri:0, instance:com.testScripts.BookARoomTestScript@71248c21]">&gt;&gt;setConfig</td> 
<td>&nbsp;</td>  <td>main@1524126153</td>   <td></td> </tr>
<tr bgcolor="7b6d8a">  <td>22/01/29 20:46:10</td>   <td>0</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;BaseTest.quitBrowser()[pri:0, instance:com.testScripts.BookARoomTestScript@71248c21]">&lt;&lt;quitBrowser</td> 
<td>&nbsp;</td>  <td>main@1524126153</td>   <td></td> </tr>
<tr bgcolor="7b6d8a">  <td>22/01/29 20:46:10</td>   <td>0</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;BaseTest.quitBrowser()[pri:0, instance:com.testScripts.BookARoomTestScript@71248c21]">&lt;&lt;quitBrowser</td> 
<td>&nbsp;</td>  <td>main@1524126153</td>   <td></td> </tr>
<tr bgcolor="dba097">  <td>22/01/29 20:33:48</td>   <td>-742012</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="BookARoomTestScript.add_AdditionalCharge_From_Card(java.lang.String,java.lang.String,java.lang.String,java.lang.String,java.lang.String,java.lang.String,java.lang.String,java.lang.String,java.lang.String,java.lang.String,java.lang.String,java.lang.String,java.lang.String,java.lang.String,java.lang.String,java.lang.String,java.lang.String,java.lang.String,java.lang.String,java.lang.String,java.lang.String,java.lang.String)[pri:11, instance:com.testScripts.BookARoomTestScript@71248c21]">add_AdditionalCharge_From_Card</td> 
  <td>main@1524126153</td>   <td></td> </tr>
<tr bgcolor="7b6d8a">  <td>22/01/29 20:46:10</td>   <td>0</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;BaseTest.quitBrowser()[pri:0, instance:com.testScripts.BookARoomTestScript@71248c21]">&lt;&lt;quitBrowser</td> 
<td>&nbsp;</td>  <td>main@1524126153</td>   <td></td> </tr>
<tr bgcolor="7b6d8a">  <td>22/01/29 20:44:09</td>   <td>-121079</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;BaseTest.setConfig()[pri:0, instance:com.testScripts.BookARoomTestScript@71248c21]">&gt;&gt;setConfig</td> 
<td>&nbsp;</td>  <td>main@1524126153</td>   <td></td> </tr>
<tr bgcolor="7b6d8a">  <td>22/01/29 20:44:09</td>   <td>-121080</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;BaseTest.getdataFromFaker()[pri:0, instance:com.testScripts.BookARoomTestScript@71248c21]">&gt;&gt;getdataFromFaker</td> 
<td>&nbsp;</td>  <td>main@1524126153</td>   <td></td> </tr>
<tr bgcolor="7b6d8a">  <td>22/01/29 20:44:09</td>   <td>-121079</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;BaseTest.setConfig()[pri:0, instance:com.testScripts.BookARoomTestScript@71248c21]">&gt;&gt;setConfig</td> 
<td>&nbsp;</td>  <td>main@1524126153</td>   <td></td> </tr>
<tr bgcolor="7b6d8a">  <td>22/01/29 20:44:09</td>   <td>-121080</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;BaseTest.getdataFromFaker()[pri:0, instance:com.testScripts.BookARoomTestScript@71248c21]">&gt;&gt;getdataFromFaker</td> 
<td>&nbsp;</td>  <td>main@1524126153</td>   <td></td> </tr>
<tr bgcolor="7b6d8a">  <td>22/01/29 20:46:10</td>   <td>0</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;BaseTest.quitBrowser()[pri:0, instance:com.testScripts.BookARoomTestScript@71248c21]">&lt;&lt;quitBrowser</td> 
<td>&nbsp;</td>  <td>main@1524126153</td>   <td></td> </tr>
<tr bgcolor="7b6d8a">  <td>22/01/29 20:44:09</td>   <td>-121079</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;BaseTest.setConfig()[pri:0, instance:com.testScripts.BookARoomTestScript@71248c21]">&gt;&gt;setConfig</td> 
<td>&nbsp;</td>  <td>main@1524126153</td>   <td></td> </tr>
<tr bgcolor="7b6d8a">  <td>22/01/29 20:44:09</td>   <td>-121079</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;BaseTest.setConfig()[pri:0, instance:com.testScripts.BookARoomTestScript@71248c21]">&gt;&gt;setConfig</td> 
<td>&nbsp;</td>  <td>main@1524126153</td>   <td></td> </tr>
<tr bgcolor="7b6d8a">  <td>22/01/29 20:44:09</td>   <td>-121080</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;BaseTest.getdataFromFaker()[pri:0, instance:com.testScripts.BookARoomTestScript@71248c21]">&gt;&gt;getdataFromFaker</td> 
<td>&nbsp;</td>  <td>main@1524126153</td>   <td></td> </tr>
<tr bgcolor="dba097">  <td>22/01/29 20:09:52</td>   <td>-2177801</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="BookARoomTestScript.Void_From_Card(java.lang.String,java.lang.String,java.lang.String,java.lang.String,java.lang.String,java.lang.String,java.lang.String,java.lang.String,java.lang.String,java.lang.String,java.lang.String,java.lang.String,java.lang.String,java.lang.String,java.lang.String,java.lang.String,java.lang.String,java.lang.String,java.lang.String,java.lang.String,java.lang.String,java.lang.String)[pri:6, instance:com.testScripts.BookARoomTestScript@71248c21]">Void_From_Card</td> 
  <td>main@1524126153</td>   <td></td> </tr>
<tr bgcolor="7b6d8a">  <td>22/01/29 20:46:10</td>   <td>0</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;BaseTest.quitBrowser()[pri:0, instance:com.testScripts.BookARoomTestScript@71248c21]">&lt;&lt;quitBrowser</td> 
<td>&nbsp;</td>  <td>main@1524126153</td>   <td></td> </tr>
<tr bgcolor="dba097">  <td>22/01/29 19:44:12</td>   <td>-3717400</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="BookARoomTestScript.createandVerifyBookRoom(java.lang.String,java.lang.String,java.lang.String,java.lang.String,java.lang.String,java.lang.String,java.lang.String,java.lang.String,java.lang.String,java.lang.String,java.lang.String,java.lang.String,java.lang.String,java.lang.String,java.lang.String,java.lang.String,java.lang.String,java.lang.String,java.lang.String,java.lang.String,java.lang.String,java.lang.String)[pri:1, instance:com.testScripts.BookARoomTestScript@71248c21]">createandVerifyBookRoom</td> 
  <td>main@1524126153</td>   <td></td> </tr>
<tr bgcolor="7b6d8a">  <td>22/01/29 20:46:10</td>   <td>0</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;BaseTest.quitBrowser()[pri:0, instance:com.testScripts.BookARoomTestScript@71248c21]">&lt;&lt;quitBrowser</td> 
<td>&nbsp;</td>  <td>main@1524126153</td>   <td></td> </tr>
<tr bgcolor="dba097">  <td>22/01/29 20:00:02</td>   <td>-2767321</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="BookARoomTestScript.guest_Portal(java.lang.String,java.lang.String,java.lang.String,java.lang.String,java.lang.String,java.lang.String,java.lang.String,java.lang.String,java.lang.String,java.lang.String,java.lang.String,java.lang.String,java.lang.String,java.lang.String,java.lang.String,java.lang.String,java.lang.String,java.lang.String,java.lang.String,java.lang.String,java.lang.String,java.lang.String)[pri:5, instance:com.testScripts.BookARoomTestScript@71248c21]">guest_Portal</td> 
  <td>main@1524126153</td>   <td></td> </tr>
<tr bgcolor="dba097">  <td>22/01/29 20:28:38</td>   <td>-1051599</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="BookARoomTestScript.changeAmount_And_MarkAsPaid_Authorize_Without3D_From_Card(java.lang.String,java.lang.String,java.lang.String,java.lang.String,java.lang.String,java.lang.String,java.lang.String,java.lang.String,java.lang.String,java.lang.String,java.lang.String,java.lang.String,java.lang.String,java.lang.String,java.lang.String,java.lang.String,java.lang.String,java.lang.String,java.lang.String,java.lang.String,java.lang.String,java.lang.String)[pri:10, instance:com.testScripts.BookARoomTestScript@71248c21]">changeAmount_And_MarkAsPaid_Authorize_Without3D_From_Card</td> 
  <td>main@1524126153</td>   <td></td> </tr>
<tr bgcolor="dba097">  <td>22/01/29 20:42:35</td>   <td>-215080</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="BookARoomTestScript.cancel_Booking_From_BookingList(java.lang.String,java.lang.String,java.lang.String,java.lang.String,java.lang.String,java.lang.String,java.lang.String,java.lang.String,java.lang.String,java.lang.String,java.lang.String,java.lang.String,java.lang.String,java.lang.String,java.lang.String,java.lang.String,java.lang.String,java.lang.String,java.lang.String,java.lang.String,java.lang.String,java.lang.String)[pri:14, instance:com.testScripts.BookARoomTestScript@71248c21]">cancel_Booking_From_BookingList</td> 
  <td>main@1524126153</td>   <td></td> </tr>
<tr bgcolor="dba097">  <td>22/01/29 19:56:28</td>   <td>-2981778</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="BookARoomTestScript.re_Sync(java.lang.String,java.lang.String,java.lang.String,java.lang.String,java.lang.String,java.lang.String,java.lang.String,java.lang.String,java.lang.String,java.lang.String,java.lang.String,java.lang.String,java.lang.String,java.lang.String,java.lang.String,java.lang.String,java.lang.String,java.lang.String,java.lang.String,java.lang.String,java.lang.String,java.lang.String)[pri:3, instance:com.testScripts.BookARoomTestScript@71248c21]">re_Sync</td> 
  <td>main@1524126153</td>   <td></td> </tr>
<tr bgcolor="7b6d8a">  <td>22/01/29 20:46:10</td>   <td>0</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;BaseTest.quitBrowser()[pri:0, instance:com.testScripts.BookARoomTestScript@71248c21]">&lt;&lt;quitBrowser</td> 
<td>&nbsp;</td>  <td>main@1524126153</td>   <td></td> </tr>
<tr bgcolor="7b6d8a">  <td>22/01/29 20:44:09</td>   <td>-121080</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;BaseTest.getdataFromFaker()[pri:0, instance:com.testScripts.BookARoomTestScript@71248c21]">&gt;&gt;getdataFromFaker</td> 
<td>&nbsp;</td>  <td>main@1524126153</td>   <td></td> </tr>
<tr bgcolor="7b6d8a">  <td>22/01/29 20:46:10</td>   <td>0</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;BaseTest.quitBrowser()[pri:0, instance:com.testScripts.BookARoomTestScript@71248c21]">&lt;&lt;quitBrowser</td> 
<td>&nbsp;</td>  <td>main@1524126153</td>   <td></td> </tr>
<tr bgcolor="dba097">  <td>22/01/29 20:18:37</td>   <td>-1652190</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="BookARoomTestScript.changeAmount_And_MarkAsPaid_Authorize_Release_From_Card(java.lang.String,java.lang.String,java.lang.String,java.lang.String,java.lang.String,java.lang.String,java.lang.String,java.lang.String,java.lang.String,java.lang.String,java.lang.String,java.lang.String,java.lang.String,java.lang.String,java.lang.String,java.lang.String,java.lang.String,java.lang.String,java.lang.String,java.lang.String,java.lang.String,java.lang.String)[pri:8, instance:com.testScripts.BookARoomTestScript@71248c21]">changeAmount_And_MarkAsPaid_Authorize_Release_From_Card</td> 
  <td>main@1524126153</td>   <td></td> </tr>
<tr bgcolor="7b6d8a">  <td>22/01/29 20:44:09</td>   <td>-121079</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;BaseTest.setConfig()[pri:0, instance:com.testScripts.BookARoomTestScript@71248c21]">&gt;&gt;setConfig</td> 
<td>&nbsp;</td>  <td>main@1524126153</td>   <td></td> </tr>
<tr bgcolor="dba097">  <td>22/01/29 19:52:40</td>   <td>-3209980</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="BookARoomTestScript.send_Pre_Check_inEmail(java.lang.String,java.lang.String,java.lang.String,java.lang.String,java.lang.String,java.lang.String,java.lang.String,java.lang.String,java.lang.String,java.lang.String,java.lang.String,java.lang.String,java.lang.String,java.lang.String,java.lang.String,java.lang.String,java.lang.String,java.lang.String,java.lang.String,java.lang.String,java.lang.String,java.lang.String)[pri:2, instance:com.testScripts.BookARoomTestScript@71248c21]">send_Pre_Check_inEmail</td> 
  <td>main@1524126153</td>   <td></td> </tr>
<tr bgcolor="7b6d8a">  <td>22/01/29 20:44:09</td>   <td>-121079</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;BaseTest.setConfig()[pri:0, instance:com.testScripts.BookARoomTestScript@71248c21]">&gt;&gt;setConfig</td> 
<td>&nbsp;</td>  <td>main@1524126153</td>   <td></td> </tr>
<tr bgcolor="7b6d8a">  <td>22/01/29 20:46:10</td>   <td>0</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;BaseTest.quitBrowser()[pri:0, instance:com.testScripts.BookARoomTestScript@71248c21]">&lt;&lt;quitBrowser</td> 
<td>&nbsp;</td>  <td>main@1524126153</td>   <td></td> </tr>
<tr bgcolor="dba097">  <td>22/01/29 20:44:14</td>   <td>-116052</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="BookARoomTestScript.charge_now_without3D(java.lang.String,java.lang.String,java.lang.String,java.lang.String,java.lang.String,java.lang.String,java.lang.String,java.lang.String,java.lang.String,java.lang.String,java.lang.String,java.lang.String,java.lang.String,java.lang.String,java.lang.String,java.lang.String,java.lang.String,java.lang.String,java.lang.String,java.lang.String,java.lang.String,java.lang.String)[pri:15, instance:com.testScripts.BookARoomTestScript@71248c21]">charge_now_without3D</td> 
  <td>main@1524126153</td>   <td></td> </tr>
<tr bgcolor="7b6d8a">  <td>22/01/29 20:44:09</td>   <td>-121079</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;BaseTest.setConfig()[pri:0, instance:com.testScripts.BookARoomTestScript@71248c21]">&gt;&gt;setConfig</td> 
<td>&nbsp;</td>  <td>main@1524126153</td>   <td></td> </tr>
<tr bgcolor="7b6d8a">  <td>22/01/29 20:44:09</td>   <td>-121079</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;BaseTest.setConfig()[pri:0, instance:com.testScripts.BookARoomTestScript@71248c21]">&gt;&gt;setConfig</td> 
<td>&nbsp;</td>  <td>main@1524126153</td>   <td></td> </tr>
<tr bgcolor="7b6d8a">  <td>22/01/29 20:44:09</td>   <td>-121079</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;BaseTest.setConfig()[pri:0, instance:com.testScripts.BookARoomTestScript@71248c21]">&gt;&gt;setConfig</td> 
<td>&nbsp;</td>  <td>main@1524126153</td>   <td></td> </tr>
<tr bgcolor="7b6d8a">  <td>22/01/29 20:46:10</td>   <td>0</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;BaseTest.quitBrowser()[pri:0, instance:com.testScripts.BookARoomTestScript@71248c21]">&lt;&lt;quitBrowser</td> 
<td>&nbsp;</td>  <td>main@1524126153</td>   <td></td> </tr>
<tr bgcolor="7b6d8a">  <td>22/01/29 20:46:10</td>   <td>0</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;BaseTest.quitBrowser()[pri:0, instance:com.testScripts.BookARoomTestScript@71248c21]">&lt;&lt;quitBrowser</td> 
<td>&nbsp;</td>  <td>main@1524126153</td>   <td></td> </tr>
<tr bgcolor="dba097">  <td>22/01/29 20:40:19</td>   <td>-350573</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="BookARoomTestScript.paused_confirmed_Booking_From_BookingList(java.lang.String,java.lang.String,java.lang.String,java.lang.String,java.lang.String,java.lang.String,java.lang.String,java.lang.String,java.lang.String,java.lang.String,java.lang.String,java.lang.String,java.lang.String,java.lang.String,java.lang.String,java.lang.String,java.lang.String,java.lang.String,java.lang.String,java.lang.String,java.lang.String,java.lang.String)[pri:13, instance:com.testScripts.BookARoomTestScript@71248c21]">paused_confirmed_Booking_From_BookingList</td> 
  <td>main@1524126153</td>   <td></td> </tr>
<tr bgcolor="7b6d8a">  <td>22/01/29 20:44:09</td>   <td>-121080</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;BaseTest.getdataFromFaker()[pri:0, instance:com.testScripts.BookARoomTestScript@71248c21]">&gt;&gt;getdataFromFaker</td> 
<td>&nbsp;</td>  <td>main@1524126153</td>   <td></td> </tr>
<tr bgcolor="7b6d8a">  <td>22/01/29 20:44:09</td>   <td>-121080</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;BaseTest.getdataFromFaker()[pri:0, instance:com.testScripts.BookARoomTestScript@71248c21]">&gt;&gt;getdataFromFaker</td> 
<td>&nbsp;</td>  <td>main@1524126153</td>   <td></td> </tr>
<tr bgcolor="7b6d8a">  <td>22/01/29 20:44:09</td>   <td>-121080</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;BaseTest.getdataFromFaker()[pri:0, instance:com.testScripts.BookARoomTestScript@71248c21]">&gt;&gt;getdataFromFaker</td> 
<td>&nbsp;</td>  <td>main@1524126153</td>   <td></td> </tr>
<tr bgcolor="7b6d8a">  <td>22/01/29 20:44:09</td>   <td>-121079</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;BaseTest.setConfig()[pri:0, instance:com.testScripts.BookARoomTestScript@71248c21]">&gt;&gt;setConfig</td> 
<td>&nbsp;</td>  <td>main@1524126153</td>   <td></td> </tr>
<tr bgcolor="7b6d8a">  <td>22/01/29 20:44:09</td>   <td>-121080</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;BaseTest.getdataFromFaker()[pri:0, instance:com.testScripts.BookARoomTestScript@71248c21]">&gt;&gt;getdataFromFaker</td> 
<td>&nbsp;</td>  <td>main@1524126153</td>   <td></td> </tr>
<tr bgcolor="7b6d8a">  <td>22/01/29 20:44:09</td>   <td>-121079</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;BaseTest.setConfig()[pri:0, instance:com.testScripts.BookARoomTestScript@71248c21]">&gt;&gt;setConfig</td> 
<td>&nbsp;</td>  <td>main@1524126153</td>   <td></td> </tr>
<tr bgcolor="7b6d8a">  <td>22/01/29 20:44:09</td>   <td>-121080</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;BaseTest.getdataFromFaker()[pri:0, instance:com.testScripts.BookARoomTestScript@71248c21]">&gt;&gt;getdataFromFaker</td> 
<td>&nbsp;</td>  <td>main@1524126153</td>   <td></td> </tr>
<tr bgcolor="7b6d8a">  <td>22/01/29 20:44:09</td>   <td>-121079</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;BaseTest.setConfig()[pri:0, instance:com.testScripts.BookARoomTestScript@71248c21]">&gt;&gt;setConfig</td> 
<td>&nbsp;</td>  <td>main@1524126153</td>   <td></td> </tr>
<tr bgcolor="7b6d8a">  <td>22/01/29 20:44:09</td>   <td>-121080</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;BaseTest.getdataFromFaker()[pri:0, instance:com.testScripts.BookARoomTestScript@71248c21]">&gt;&gt;getdataFromFaker</td> 
<td>&nbsp;</td>  <td>main@1524126153</td>   <td></td> </tr>
<tr bgcolor="7b6d8a">  <td>22/01/29 20:44:09</td>   <td>-121080</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;BaseTest.getdataFromFaker()[pri:0, instance:com.testScripts.BookARoomTestScript@71248c21]">&gt;&gt;getdataFromFaker</td> 
<td>&nbsp;</td>  <td>main@1524126153</td>   <td></td> </tr>
<tr bgcolor="dba097">  <td>22/01/29 20:23:38</td>   <td>-1352028</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="BookARoomTestScript.changeAmount_And_MarkAsPaid_Authorize_Capture_From_Card(java.lang.String,java.lang.String,java.lang.String,java.lang.String,java.lang.String,java.lang.String,java.lang.String,java.lang.String,java.lang.String,java.lang.String,java.lang.String,java.lang.String,java.lang.String,java.lang.String,java.lang.String,java.lang.String,java.lang.String,java.lang.String,java.lang.String,java.lang.String,java.lang.String,java.lang.String)[pri:9, instance:com.testScripts.BookARoomTestScript@71248c21]">changeAmount_And_MarkAsPaid_Authorize_Capture_From_Card</td> 
  <td>main@1524126153</td>   <td></td> </tr>
<tr bgcolor="dba097">  <td>22/01/29 20:14:05</td>   <td>-1924487</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="BookARoomTestScript.chargeNow_From_Card(java.lang.String,java.lang.String,java.lang.String,java.lang.String,java.lang.String,java.lang.String,java.lang.String,java.lang.String,java.lang.String,java.lang.String,java.lang.String,java.lang.String,java.lang.String,java.lang.String,java.lang.String,java.lang.String,java.lang.String,java.lang.String,java.lang.String,java.lang.String,java.lang.String,java.lang.String)[pri:7, instance:com.testScripts.BookARoomTestScript@71248c21]">chargeNow_From_Card</td> 
  <td>main@1524126153</td>   <td></td> </tr>
</table>
