<table border='1'>
<tr>
<th>Class name</th>
<th>Method name</th>
<th>Groups</th>
</tr><tr>
<td>com.testScripts.TeamsTestScript</td>
<td>&nbsp;</td><td>&nbsp;</td></tr>
<tr>
<td align='center' colspan='3'>@Test</td>
</tr>
<tr>
<td>&nbsp;</td>
<td>activate_deactivate_Team</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>resendInvitationToTeam</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>createTeams</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>edit_Teams_Member</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>delete_Teams_Member</td>
<td>&nbsp;</td></tr>
<tr>
<td align='center' colspan='3'>@BeforeClass</td>
</tr>
<tr>
<td align='center' colspan='3'>@BeforeMethod</td>
</tr>
<tr>
<td>&nbsp;</td>
<td>getdataFromFaker</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>setConfig</td>
<td>&nbsp;</td></tr>
<tr>
<td align='center' colspan='3'>@AfterMethod</td>
</tr>
<tr>
<td>&nbsp;</td>
<td>quitBrowser</td>
<td>&nbsp;</td></tr>
<tr>
<td align='center' colspan='3'>@AfterClass</td>
</tr>
<tr>
<td>com.testScripts.LoginTestScript</td>
<td>&nbsp;</td><td>&nbsp;</td></tr>
<tr>
<td align='center' colspan='3'>@Test</td>
</tr>
<tr>
<td>&nbsp;</td>
<td>doLogin</td>
<td>&nbsp;</td></tr>
<tr>
<td align='center' colspan='3'>@BeforeClass</td>
</tr>
<tr>
<td align='center' colspan='3'>@BeforeMethod</td>
</tr>
<tr>
<td>&nbsp;</td>
<td>getdataFromFaker</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>setConfig</td>
<td>&nbsp;</td></tr>
<tr>
<td align='center' colspan='3'>@AfterMethod</td>
</tr>
<tr>
<td>&nbsp;</td>
<td>quitBrowser</td>
<td>&nbsp;</td></tr>
<tr>
<td align='center' colspan='3'>@AfterClass</td>
</tr>
<tr>
<td>com.testScripts.ProfileUpdateTestScript</td>
<td>&nbsp;</td><td>&nbsp;</td></tr>
<tr>
<td align='center' colspan='3'>@Test</td>
</tr>
<tr>
<td>&nbsp;</td>
<td>updateUserProfile</td>
<td>&nbsp;</td></tr>
<tr>
<td align='center' colspan='3'>@BeforeClass</td>
</tr>
<tr>
<td align='center' colspan='3'>@BeforeMethod</td>
</tr>
<tr>
<td>&nbsp;</td>
<td>getdataFromFaker</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>setConfig</td>
<td>&nbsp;</td></tr>
<tr>
<td align='center' colspan='3'>@AfterMethod</td>
</tr>
<tr>
<td>&nbsp;</td>
<td>quitBrowser</td>
<td>&nbsp;</td></tr>
<tr>
<td align='center' colspan='3'>@AfterClass</td>
</tr>
<tr>
<td>com.testScripts.UpdatePasswordTestScript</td>
<td>&nbsp;</td><td>&nbsp;</td></tr>
<tr>
<td align='center' colspan='3'>@Test</td>
</tr>
<tr>
<td>&nbsp;</td>
<td>verifyUpdatePassword</td>
<td>&nbsp;</td></tr>
<tr>
<td align='center' colspan='3'>@BeforeClass</td>
</tr>
<tr>
<td align='center' colspan='3'>@BeforeMethod</td>
</tr>
<tr>
<td>&nbsp;</td>
<td>getdataFromFaker</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>setConfig</td>
<td>&nbsp;</td></tr>
<tr>
<td align='center' colspan='3'>@AfterMethod</td>
</tr>
<tr>
<td>&nbsp;</td>
<td>quitBrowser</td>
<td>&nbsp;</td></tr>
<tr>
<td align='center' colspan='3'>@AfterClass</td>
</tr>
<tr>
<td>com.testScripts.BookARoomTestScript</td>
<td>&nbsp;</td><td>&nbsp;</td></tr>
<tr>
<td align='center' colspan='3'>@Test</td>
</tr>
<tr>
<td>&nbsp;</td>
<td>createandVerifyBookRoom</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>pre_checkin_Link</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>view_Details</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>send_Pre_Check_inEmail</td>
<td>&nbsp;</td></tr>
<tr>
<td align='center' colspan='3'>@BeforeClass</td>
</tr>
<tr>
<td align='center' colspan='3'>@BeforeMethod</td>
</tr>
<tr>
<td>&nbsp;</td>
<td>getdataFromFaker</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>setConfig</td>
<td>&nbsp;</td></tr>
<tr>
<td align='center' colspan='3'>@AfterMethod</td>
</tr>
<tr>
<td>&nbsp;</td>
<td>quitBrowser</td>
<td>&nbsp;</td></tr>
<tr>
<td align='center' colspan='3'>@AfterClass</td>
</tr>
<tr>
<td>com.testScripts.ForgotPasswordTestScript</td>
<td>&nbsp;</td><td>&nbsp;</td></tr>
<tr>
<td align='center' colspan='3'>@Test</td>
</tr>
<tr>
<td>&nbsp;</td>
<td>verifyForgotPWD</td>
<td>&nbsp;</td></tr>
<tr>
<td align='center' colspan='3'>@BeforeClass</td>
</tr>
<tr>
<td align='center' colspan='3'>@BeforeMethod</td>
</tr>
<tr>
<td>&nbsp;</td>
<td>getdataFromFaker</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>setConfig</td>
<td>&nbsp;</td></tr>
<tr>
<td align='center' colspan='3'>@AfterMethod</td>
</tr>
<tr>
<td>&nbsp;</td>
<td>quitBrowser</td>
<td>&nbsp;</td></tr>
<tr>
<td align='center' colspan='3'>@AfterClass</td>
</tr>
<tr>
<td>com.testScripts.PaymentRequestTestScript</td>
<td>&nbsp;</td><td>&nbsp;</td></tr>
<tr>
<td align='center' colspan='3'>@Test</td>
</tr>
<tr>
<td>&nbsp;</td>
<td>getPayment</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>paymentRequestFromManageRequestPage_Charge</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>editPaymentDetails</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>voidPayment</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>createRequest</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>paymentRequestFromManageRequestPage_Authorize</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>createPaymentLinkAndSentEmail</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>createAuthorizationLinkAndSendEmail</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>searchByIDorEmail</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>getChargeNowWithoutAuthorize</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>createAuthorizePayment_MoreSetting</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>refundPayment</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>captureNow</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>sendAuthorizationLink</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>sendPaymentLinkAgain</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>markAsPaid</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>chargeNowWithoutCreateLink</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>createRequestWithMoreSetting</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>releasePayment</td>
<td>&nbsp;</td></tr>
<tr>
<td align='center' colspan='3'>@BeforeClass</td>
</tr>
<tr>
<td align='center' colspan='3'>@BeforeMethod</td>
</tr>
<tr>
<td>&nbsp;</td>
<td>getdataFromFaker</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>setConfig</td>
<td>&nbsp;</td></tr>
<tr>
<td align='center' colspan='3'>@AfterMethod</td>
</tr>
<tr>
<td>&nbsp;</td>
<td>quitBrowser</td>
<td>&nbsp;</td></tr>
<tr>
<td align='center' colspan='3'>@AfterClass</td>
</tr>
<tr>
<td>com.testScripts.RegistrationTestScript</td>
<td>&nbsp;</td><td>&nbsp;</td></tr>
<tr>
<td align='center' colspan='3'>@Test</td>
</tr>
<tr>
<td>&nbsp;</td>
<td>doRegistration</td>
<td>&nbsp;</td></tr>
<tr>
<td align='center' colspan='3'>@BeforeClass</td>
</tr>
<tr>
<td align='center' colspan='3'>@BeforeMethod</td>
</tr>
<tr>
<td>&nbsp;</td>
<td>getdataFromFaker</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>setConfig</td>
<td>&nbsp;</td></tr>
<tr>
<td align='center' colspan='3'>@AfterMethod</td>
</tr>
<tr>
<td>&nbsp;</td>
<td>quitBrowser</td>
<td>&nbsp;</td></tr>
<tr>
<td align='center' colspan='3'>@AfterClass</td>
</tr>
</table>
